<% @series.seasons.each do |season| %>

<div id = "season">
<a href="#" class="show_hide">>>>>> <%= season.number %> </a>
<div class="slidingDiv">
	<% @episodes = season.episodes %>
<%= render :file => "episodes/index2", :collection => @episodes %>
<br />
<%= link_to season.number, series_season_path(@series.id, season.id) %></div>
</div>

<% end %>



<!--%= link_to 'New Season', new_series_season_path(@series=Series.find(params[:id])) %-->
