<p>
  <b>Number:</b>
  <%= @season.number %>
</p>

<p>
  <b>Year:</b>
  <%= @season.year %>
</p>

<p>
	Episodes
</p>
	<%= render :file => "episodes/index", :locals => { :episodes => @season.episodes, :season => @season, :series => @season.series } %>


