<div class="depot_form" >
 <%= form_tag send_email_forgotten_password_path do %>	
  <fieldset>
  <legend>Email of Forgotten Account</legend>
  <div>
  	<%= label_tag(:email, "Email") %>:
  	<%= text_field_tag(:email, params[:email])%>
  </div>
  <div>
    <%= submit_tag 'Send Forgotten Password' %>
  </div>
  </fieldset>
<% end %>
</div>