<div class="depot_form" >
 <%= form_for(@user) do |f| %>	
  <fieldset>
  <legend>New Password</legend>
	<div class="field">
	    <%= f.label "New Password" %><br />
	    <%= f.text_field :password %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
  </fieldset>
<% end %>
</div>