<% @episodes = episodes if defined?episodes %>
<% @series = series if defined?series %>
<% @season = season if defined?season %>

<h4> Episodes </h4>
	<table>
	<tr>
		<td>#</td>
	    <td>Episode</td>
	    <td>Air date</td>
	</tr>
	<% @episodes.each do |episode| %>
	<tr>
		<td align="CENTER"><%= episode.number %></td>
	    <td><%= episode.title %></td>
	    <td><%= episode.inair %></td>
	</tr>
	<% end %>
	</table>
