<%= form_tag search_path, :id => 'keywords' do %>
<div>
<%= text_field_tag 'keywords', params[:keywords] %>	


<%= image_submit_tag ("search3.gif") %> 
</div>
<% end %>
<!--form id="searchform" action="page.html" method="post">
					      <div>
					            <input id="search" name="search" type="text" />
					            <label for="search"><input title="Search" alt="Search" src="search3.gif" type="image" /></label>
					      </div>
</form-->